body {
  box-sizing: border-box;
  margin: 0;
  font-size: 22px;
  font-family: Overpass, sans-serif;
}

h1,
h2,
h3 {
  font-family: Chivo, sans-serif;
}

/* Banner */
.banner {
  text-align: center;
  background: url("images/background.jpg") center/cover no-repeat;
  color: white;
  padding: 9.375rem;
}

.banner p {
  padding-bottom: 1rem;
}

.cta {
  color: white;
  background-color: #1a48e2;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #0a31b1;
}

.container {
  color: #404042;
  width: 900px;
  margin: 0 auto;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.card-white {
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card-white img {
  display: block;
  width: 100%;
}

/* Footer */
footer {
  color: white;
  background: #404042;
  padding: 3.5rem;
  text-align: center;
}
